<% layout('../../pages/main') %>
<div class="container">

    <div class="row">

        <div style="padding-top:8px;" class="col m4">
            <%- partial('userInfo',{user:user}) %>
        </div>

        <div class="col m8">

            <div class="section">
                <%- partial('postFormMultiple') %>
                <!-- postFormMultiple -->
            </div>
            <br />
            <div class="section">
                <div class="row">
                    <% if (typeof file != 'undefined') { %>
                    <img src="<%= typeof file != 'undefined' ? file : '' %>" class="responsive-img col m6" />
                    <div class="col m6">
                        <h4>Thanks for your share.</h4>
                        <p><%=typeof user != 'undefined' ? user.fullname : '' %> :)</p>
                        <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
                            <li class="tab col s6"><a class="white-text active" href="#UserStatus">
                                    <i class="material-icons"></i>Posts</a>
                            </li>
                            <li class="tab col s6"><a class="white-text" href="#UserPhotos">
                                    <i class="material-icons"></i> Photos</a>
                            </li>
                            <div class="indicator" style="right: 433px; left: 0px;"></div>
                        </ul>
                    </div>
                    <% } %>
                </div>

            </div>

            <div style="padding-top:0;" class="section">

                <div id="" class="">
                    <ul class="tabs tab-profile z-depth-1 light-blue" style="width: 100%;">
                        <li class="tab col s4"><a class="white-text active" href="#UserStatus">
                                <i class="mdi-editor-border-color"></i> Your time-line</a>
                        </li>
                        <li class="tab col s4"><a class="white-text" href="#UserPhotos">
                                <i class="mdi-image-camera-alt"></i> Your Photos</a>
                        </li>
                        <div class="indicator" style="right: 433px; left: 0px;"></div>
                    </ul>
                    <!-- Status-->
                    <div id="UserStatus" class="tab-content col s12  grey lighten-4"
                        style="display: block; padding:10px 0;">
                        <div class="row">
                            <% if (typeof posts != 'undefined') { %>
                            <% posts.forEach((post,key)=> { %>
                            <div class="col s12 m12">
                                <%- partial('../cards/interCard',{post:post, key}) %>
                            </div>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>
                    <div id="UserPhotos" class="tab-content col s12  grey lighten-4"
                        style="display: block; padding:10px 0;">
                        <div id="" class="row">
                            <% if (typeof images != 'undefined') { %>
                            <% images.forEach((img,key)=> { %>
                            <div class="col s6 m4">
                                <%- partial('../cards/imgCard',{img:img, key}) %>
                            </div>
                            <% }) %>
                            <% } %>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="divider"></div>


</div>