<div class="container">
    <div class="row">
        <div class="col m3">
            <%-include('leftOptions')%>
        </div>
        <div class="col m6">
            <%-include('../introSlider')%>
            <div class="section"><%-include('postSttForm')%></div>
            <div class="section">
                <div class="row">
                    <div class="col s12">
                        <%- include('../postCard') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col m3">
            <%-include('rightOptions')%>
        </div>
    </div>
</div>